meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="CSS/forget.css")
style.
  
  .container input#submit {
              width: 170px;
          }
  
title Forgot Password
.header
  h1 Forget Password
.container

  form(action="/password", method="POST")
    //  <label for="email">Enter Your Email</label>
    h3 Enter Username
    input#username.username(type="text", name="username") 
    h3 Please Enter New Password
    input#password.password(type="password", name="password")
    br
    br
    input#submit(type="submit", name="submit", value="Submit Password")
.footer
  h1 Created By Aghara Prashant & Ashara Hussain