meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="CSS/forget.css")
title Forgot Password
.header
  h1 Forget Password
.container
  h2= msg
  h4= msg1
  h3 Please Enter OTP Sent On Your Email
  form(action="/verify", method="POST")
    //  <label for="email">Enter Your Email</label> 
    input#otp.otp(type="text", name="otp")
    br
    br
    input#submit(type="submit", name="submit", value="Submit")
  br
  form(action="/resend", method="POST")
    button(type="submit") Resend OTP
.footer
  h1 Created By Aghara Prashant & Ashara Hussain