meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Success
link(rel="stylesheet", href="CSS/success.css")
.header
  h1 Thanks For Using Online Tutor Finder
.container
  h2 You Have Been Successfully Enrolled to Tutor
  svg.checkmark(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 52 52")
    circle.checkmark__circle(cx="26", cy="26", r="25", fill="none")
    path.checkmark__check(fill="none", d="M14.1 27.2l7.1 7.2 16.7-16.8")
  h2 Please Click Below To Go back to Home
  form(action="/search", method="get")
    input.button(type="submit", value="Go Back")
.footer
  h2 Created By Aghara Prashant & Ashara Hussain