body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-image: url(images/pexels-andrea-piacquadio-3769981.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header{
    text-align: center;
    height: 50px;
    padding: 2px;
    padding-bottom: 20px;
    /* border: 2px solid red; */
    background-color: #7aa3e6;
}

.container{
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    /* border: 2px solid red; */
    border-radius: 10px;
    text-align: center;
    width : 500px;
    background-color:whitesmoke;
    box-sizing: border-box;
    animation: mymove 5s infinite;
}
@keyframes mymove{
    50%{box-shadow: 10px 5px 20px black;}
}
.container .button {
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
}
.button:hover{
    background-color: teal  ;
}
.footer{
    margin-top: 105px;
    text-align: center;
    padding: 2px;
    /* border: 2px solid red; */
    background-color: #7aa3e6;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }